body {
  background-color: #f7f0f5 !important;
  width: 100vw;
  height: 100vh;

  padding: 0;
  margin: 0;

  font-family: "Montserrat", sans-serif !important;
}

.main-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    justify-content: space-between;
}